@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root {
    --bg-black: #0c0e1a;
    --blue-ac: #2c249c;
    --copper-ac: #cb7469;
  }

  .shape{
    position:absolute;
    top:40px;
    left:-650px;
    width:800px;
    height:800px;
    background-color:rgb(203, 116, 105, .5);
    border-radius:190px 50% 90px 50%;
    animation-name: rotate;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotate{
    0%{transform:rotate(0deg)}
    50%{transform:rotate(180deg)}
    100%{transform:rotate(360deg)}
  }
  .second{
    left:-700px;
    animation-duration: 18000ms;
    background-color:rgb(203, 116, 105, .5);
    background-color:rgb(44, 36, 156, .5);
  }
  
  .third{
    left:calc(100vw - 150px);
    animation-duration: 15000ms;
    background-color:rgb(203, 116, 105, .5);
  
  }
  .fourth{
    left:calc(100vw - 100px);
    animation-duration: 18000ms;
    background-color:rgb(203, 116, 105, .5);
    background-color:rgb(44, 36, 156, .5);
  
  }

.hero{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-black);
  padding-top: 1px;
}

.text-container{
  text-align:center;
  height: 90%;
  width: 90%;
  margin:  5vh auto;
  padding-top: 10%;
  background-color: whitesmoke;
  padding: 1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.text{
  color:whitesmoke;
  font-family: 'Righteous', cursive;
  font-size: calc(32px + 4vw);
  animation-name: float;
  -webkit-transition: text-shadow 1s linear;
  -moz-transition: text-shadow 1s linear;
  -ms-transition: text-shadow 1s linear;
  -o-transition: text-shadow 1s linear;
  transition: text-shadow 1s linear;
}


.floating{
  text-shadow: 2px 4px 4px black;
}

.project{
  width:100vw;
  height:100vh;
  background-color:whitesmoke;
  display:flex;
  z-index: 1;
  position: relative;
}
.project-img{
  flex: 1 1 0%;
  display: flex;
  justify-content:center;
  align-items:center;
}
.img-container{
  width:70%;
  height:auto;
  
}

.img-container img{
  width:100%;
  box-shadow: -15px 10px 4px rgb(44, 36, 156, .5)
}

.details{
  flex: 1 1 0%;
  gap:4.5vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.project-title{
  font-size: calc(16px + 2vw);
}

.icon-container{
  display: flex;
  gap: 2vw;
}
.icon{
  width:50px;
}
.icon img{
  width:100%
}

.tools{
  font-size: calc(16px + .5vw);
}
.tool-container{
  display: flex;
  gap: 2vw;
}
@media (max-width: 480px) {
  .shape{
    display: none;
  }
  .project{
    flex-direction: column;
  }
}